<ng-container
    *ngIf="{
        user: users$ | async,
        isLoading: isLoading$ | async
    } as data"
>

<button  color="primary" type="button" mat-raised-button (click)="openModal()">Add User</button><br><br>
    <div class="container">
        <h3>User Details: </h3>
        <table>
             <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Profilepicture</th>
            <th>Action</th>
            <tbody>
               
            <tr *ngFor="let user of data.user">
                 <td>{{user.id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.profilepicture}}</td>
                <td><button color="warn" type="button" mat-raised-button (click)="onDeleteUser(user)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div> 
</ng-container>
